.logo_wrapper {
  height: 100vh;
  width: 100vw;
}

.screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 300px;
}
